{% extends 'base.html' %} {% block header %} {% endblock %} {% block content %}

<div class="card">
  <h5 class="card-header">请选择对阵轮次</h5>
  <div class="card-body">
    {% for round_number in range( g.settings['current_round'] | int) %}
    <a href="{{ url_for('battle.battle_list', round=round_number+1) }}"
      class="btn btn-{{ 'success' if round_number+1 == g.settings['current_round']|int  else 'secondary' }}">第{{
      round_number + 1}}轮</a>
    {% endfor %}

    <!-- <button id="csv_export_battlelist" type="button" class="btn btn-primary">导出到CSV</button> -->
  </div>
</div>

<br />
<div class="card">
  <h5 class="card-header">{% block title %}对阵表{% endblock %}</h5>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th class="text-nowrap" scope="col">#</th>
            <th class="text-nowrap" scope="col">先手</th>
            <th class="text-nowrap" scope="col">本局得分</th>
            <th class="text-nowrap" scope="col">操作</th>
            <th class="text-nowrap" scope="col">先手</th>
            <th class="text-nowrap" scope="col">本局得分</th>
            <th class="text-nowrap" scope="col">操作</th>
          </tr>
        </thead>

        <tbody>
          {% for list_group in battle_list %}
          <tr>
            <th class="text-nowrap" scope="row">{{ loop.index }}</th>
            <td class="text-nowrap">{{ list_group.name_a }} <br /><span class="badge badge-secondary">{{
                list_group.org_a }}</span></td>
            {% if list_group.score_a | string == 'None' %}
            <td class="text-nowrap">正在比赛</td>
            {% else %}
            <td class="text-nowrap">{{ list_group.score_a|string }}</td>
            {% endif %}
            <td class="text-nowrap">
              <a class="btn btn-primary" href="{{ url_for('battle.register_score', id=list_group.player_a ) }}"
                role="button">登记分数</a>
            </td>
            <td class="text-nowrap">{{ list_group.name_b }} <br /><span class="badge badge-secondary">{{
                list_group.org_b }}</span></td>
            {% if list_group.score_b | string == 'None' %}
            <td class="text-nowrap">正在比赛</td>
            {% else %}
            <td class="text-nowrap">{{ list_group.score_b|string }}</td>
            {% endif %}
            <td class="text-nowrap">
              <a class="btn btn-primary" href="{{ url_for('battle.register_score', id=list_group.player_b) }}"
                role="button">登记分数</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}