{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}棋手总分排名{% endblock %}</h1>
{% endblock %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">姓名</th>
      <th scope="col">身份证</th>
      <th scope="col">项目</th>
      <th scope="col">电话</th>
      <th scope="col">总分</th>
      <th scope="col">操作</th>
  </thead>
  <tbody>
    {% for player in players %}
    <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ player['name'] }} </td>
        <td>{{ player['id_card'] }}</td>
        <td>{{ player['project'] }}</td>
        <td>{{ player['phone'] }}</td>
        {% if player['score'] %}
            <td>{{ player['score'] }}</td>
        {% else %}
        <td>0</td>
      {% endif %}
      <td>
        <a class="btn btn-primary" href="{{ url_for('player.score_detail', player_id=player['id']) }}" role="button">得分详情</a>    
      </td>
    </tr>  
    {% endfor %}
  </tbody>
</table>
{% endblock %}
