{% extends 'base.html' %} {% block header %} {% endblock %} {% block content %}
<div class="card">
  <h2 class="card-header">
    {% block title %}你正在为: <span class="badge badge-primary">{{ player['name'] }}</span> 登记分数{% endblock %}
  </h2>
  <div class="card-body">
    <form method="post">
      <div class="form-group">
        <label for="score">分数</label>
        <select class="form-control" id="score" name="score">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
        <!-- <input type="text" class="form-control" name="score" id="score" /> -->
      </div>
      <button type="submit" class="btn btn-primary mb-2">确认提交</button>
    </form>
  </div>
</div>
{% endblock %}
