<html lang="zh-CN">
  <head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap 的 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"  crossorigin="anonymous">
    {{ url_for('static', filename='style.css') }}
    <title>{% block title %}{% endblock %} - Chess Battle</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ url_for('index') }}">Chess Battle</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('player.add_player') }}">Add Player <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('player.battle_list',round=g.settings['current_round']) }}">Ballte Detail</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">Settings</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ url_for('settings.add') }}">Add</a>
          <a class="dropdown-item" href="{{ url_for('settings.update') }}">Update</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
  <div class="jumbotron">
    <div class="container">
        <h1 class="display-3">象棋比赛 - 第 {{ g.settings['current_round'] }} 轮</h1>
      <!-- <p>This is your game!</p> -->
      <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
    </div>
  </div>
    <!-- JavaScript 文件是可选的。从以下两种建议中选择一个即可！ -->
  <div class="container">
    <header>
        {% block header %}{% endblock %}
    </header>

    {% for message in get_flashed_messages() %}
        {% if message != None %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div> 
        {% endif %}
    {% endfor %}
    
    {% block content %}{% endblock %}
    <!-- Example row of columns -->
    <div class="row">
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container fixed-bottom">
    <p>&copy; {{ g.settings['devloper'] }} 2023</p>
</footer>
    <!-- 选项 1：jQuery 和 Bootstrap 集成包（集成了 Popper） -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-7ymO4nGrkm372HoSbq1OY2DP4pEZnMiA+E0F3zPr+JQQtQ82gQ1HPY3QIVtztVua" crossorigin="anonymous"></script> -->

    <!-- 选项 2：Popper 和 Bootstrap 的 JS 插件各自独立 -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"  crossorigin="anonymous"></script>
  </body>
</html>
