/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.rank-header {
  position: relative;
}

.rank-header button {
  position: absolute;
  bottom: 0px;
  right: 0px;
}