{% extends 'base.html' %} {% block header %} {% endblock %} {% block content %}
<div class="card">
  <h5 class="card-header">{% block title %}新增棋手{% endblock %}</h5>
  <div class="card-body">
    <form method="post">
      <div class="form-group">
        <label for="name">姓名</label>
        <input type="text" class="form-control" name="name" id="username" />
      </div>

      <div class="form-group">
        <label for="id_card">身份证</label>
        <input type="text" class="form-control" name="id_card" id="id_card" />
      </div>

      <div class="form-group">
        <label for="project">项目</label>
        <input type="text" class="form-control" name="project" id="project" />
      </div>

      <div class="form-group">
        <label for="phone">电话</label>
        <input type="text" class="form-control" name="phone" id="phone" />
      </div>

      <button type="submit" class="btn btn-primary mb-2">Add Player</button>
    </form>
  </div>
</div>
{% endblock %}
