{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Add Setting{% endblock %}</h1>
{% endblock %} {% block content %}

<form method="post" class="">
  <div class="form-group">
    <label for="setting_name">Setting Name</label>
    <input
      type="text"
      class="form-control"
      name="setting_name"
      id="setting_name"
  </div>
  <div class="form-group">
    <label for="setting_value">Setting Vaule</label>
    <input
      type="text"
      class="form-control"
      name="setting_value"
      id="setting_value"
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
  </div>
</form>
{% endblock %}
