{% extends 'base.html' %} {% block header %}
<h1>{% block title %}棋手 <span class="badge badge-primary">{{ player['name'] }}</span> 得分详情{% endblock %}</h1>
{% endblock %} {% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">局次#</th>
      <th scope="col">得分</th>
      <th scope="col">对手分</th>
      <th scope="col">时间</th>
    </tr>
  </thead>

  <tbody>
    {% for score_list in score_detail %}
    <tr>
      <th scope="row">{{ score_list['round'] }}</th>
      <td>{{ score_list['score'] }}</td>
      <td>{{ score_list['against_score'] }}</td>
      <td>{{ score_list['created']}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
